@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

/* Base custom definitions */
body {
  background-color: #09090B;
  color: #FAFAFA;
  font-family: var(--font-sans);
  overflow: hidden;
  height: 100vh;
}

/* Custom theme scrollbars */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #09090B;
}
::-webkit-scrollbar-thumb {
  background: #27272A;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3F3F46;
}
